In [42]:
# load the data
import pandas as pd
data = pd.read_csv("data/WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [43]:
# getting a  look at the data
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [44]:
# removing unnecessary info
data = data.drop("customerID", axis=1)
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [45]:
# transform(encode) labels to values between 0 and n-th(possible values)
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# apply LabelEncoder on hole dataframe except some columns ...
data = data.loc[:, data.columns != ("SeniorCitizen", "tenure", "MonthlyCharges", "TotalCharges")] = data.loc[:, data.columns != ("SeniorCitizen", "tenure", "MonthlyCharges", "TotalCharges")].apply(le.fit_transform)

data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,142,2505,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,498,1466,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,436,157,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,266,1400,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,729,925,1

In [46]:
# split into train, test
from sklearn.model_selection import train_test_split

X = data.drop("Churn" , axis=1)
y = data["Churn"]

X, X_test, y, y_test = train_test_split(X, y, test_size=0.3, random_state=21)

In [47]:
# Gaussian Naive Bayes

from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

gaussianNB = GaussianNB()
gaussianNB.fit(X, y)

pred_gaussian = gaussianNB.predict(X_test)
accuracy_gaussian = accuracy_score(y_test, pred_gaussian)

In [48]:
# Multinomial Naive Bayes

from sklearn.naive_bayes import MultinomialNB

multinomialNB = MultinomialNB()
multinomialNB.fit(X, y)

pred_multinomial = multinomialNB.predict(X_test)
accuracy_multinomial = accuracy_score(y_test, pred_multinomial)

In [49]:
# Bernoulli Naive Bayes

from sklearn.naive_bayes import BernoulliNB

bernoulliNB = BernoulliNB()
bernoulliNB.fit(X, y)

pred_bernoulli = bernoulliNB.predict(X_test)
accuracy_bernoulli = accuracy_score(y_test, pred_bernoulli)

In [50]:
dict = {
    "ML model" : ["Gaussian Naive Bayes", "Multinomial Naive Bayes", "Bernoulli Naive Bayes"],
    "Accuracy" : [accuracy_gaussian, accuracy_multinomial, accuracy_bernoulli],
}
pd.DataFrame(data=dict)

                  ML model  Accuracy
0     Gaussian Naive Bayes  0.751065
1  Multinomial Naive Bayes  0.576905
2    Bernoulli Naive Bayes  0.741600

### Conclusion
The algorithm with the most accuracy is Gaussian although Bernoulli is not far apart. I read that Bernoulli's one is more suited for predicting binary(as in this case). This all methods are a  probabilistic classification technique, and it assumes that each class are conditionally independent given the target class. It's a naive approach (as the name suggest) and it's more statistics than iterative process of training.